body {
  background-color: #22223B;
}

/* HOME */

main {
  font-family: 'Quicksand', sans-serif;
  color: rgb(224, 185, 9);
}

#landing-image {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#landing-page {
  height: 100vh;
  display: grid;
  justify-content: center;
}

.header-section {
  height: fit-content;
  text-align: center;
  z-index: 10;
}

header {
  background-color: rgb(12, 57, 65);
  margin-bottom: .3em;
  text-transform: uppercase;
  font-size: 40px;
}

.bio-blurb {
  font-style: italic;
  font-size: 12px;
  max-width: 35em;
  margin-bottom: 2em;
}

nav {
  padding: 1em;
  text-align: center;
  height: fit-content;
}

nav span {
  padding: .5em;
  font-weight: 100;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgb(224, 185, 9);
}

a:visited {
  color: rgb(224, 185, 9);
}

a:hover {
  color: #9A8C98;
}

/* EXPERIENCE PAGE */

#experience-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.xp-img {
  width: 100%;
  height: 80%;
  margin-top: 5em;
}

.imgsection {
  height: 100%;
  width: 100%;
}

.experience-text {
  text-align: center;
  margin: 4em;
  padding-top: 2em;
}



/* WORK PAGE */

.project-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin-top: 1em;
}

.project-image {
  height: 35em;
  width: 100%;
}

.project-text {
  padding: 1em;
}

/* CONTACT PAGE */

#contact-page {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-text {
  text-align: center;
  margin: 4em;
  margin-top: 10em;
}

footer {
  margin-top: 20em;
}

.contact-img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .xp-img {
    display: none;
  }

  #experience-page {
    grid-template-columns: 1fr;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  #contact-page {
    grid-template-columns: 1fr;
  }
  .contact-img {
    display: none;
  }
}
